@import url("https://fonts.googleapis.com/css?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

:root {
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-saturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --font-size: 1rem;
}

* {
    box-sizing: border-box;
/*    outline: solid 1px white;*/
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: var(--very-dark-blue);
    color: white;
    font-family: "Inter";
    font-size: var(--font-size);
}

main {
    margin: 1rem;
}

h1 {
    margin: 0;
    font-size: calc(var(--font-size) * 1.15);
}

h2 {
    font-size: calc(var(--font-size) * 1);
    margin: 0;
}

.colored-text {
    color: var(--soft-violet);
}

.text {
    font-size: calc(var(--font-size) * 0.6);
    line-height: 1rem;
    color: var(--slightly-transparent-white-main);
}

.category-text {
    font-size: calc(var(--font-size) * 0.6);
    text-transform: uppercase;
    color: var(--slightly-transparent-white-stat);
    margin-top: 0.3rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80;
    transform: translate(-50%, -50%);
}

.app-container {
    padding: 1rem;
}

.card-grid {
    aspect-ratio: 2/5;
    min-height: 500px;
    min-width: 200px;
    display: grid;
    flex-direction: column;
    grid-template-rows: repeat(7, 1fr);
    background: var(--dark-saturated-blue);
    overflow: hidden;
    border-radius: 0.5rem;
}

.image-container {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
}

.image-container > img {
    width: 100%;
    filter: hue-rotate(180deg);
}

.color-header {
    height: 100%;
    width: 100%;
    background: hsla(277, 80%, 30%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.info-grid {
    position: relative;
    padding: 1rem;
    grid-row-start: 3;
    grid-row-end: 8;
    text-align: center;
}

.bottom-info {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
}

.bottom-info > span {
    margin: 0.25rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 2rem);
    transform: translate(-50%, 0);
    font-size: 11px;
    text-align: center;
    margin: 0.2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 550px) {

    h1 {
        font-size: calc(var(--font-size) * 1.35);
    }

    .text {
        font-size: calc(var(--font-size) * 0.65);
        line-height: 1rem;
    }

    .card-grid {
        aspect-ratio: 5/2;
        display: grid;
        min-height: 100px;
        min-width: 500px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);
    }

    .image-container {
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 7;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .info-grid {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 2rem;
        text-align: left;
        padding-right: 3rem;
    }

    .bottom-info {
        display: flex;
        flex-direction: row;
        position: relative;
        margin: 0;
        margin-block: 1.25rem;
        width: 100%;
        gap: 2rem;
    }

    .bottom-info > span {
        margin: 0;
    }
}